version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: task5_postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5443:5432"